ul{list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: black;
}
li{float: left;}
li a{display: inline-block;color: white;padding: 10px 40px;text-decoration: none;}
.vertical-menu{
    width: 200px;
}
.vertical-menu a{
display: block;
text-decoration: none; padding: 14px;background-color: rgb(16, 42, 128);color: white;border-right: 2px;border-color: black;border-style: solid;
}
.container{
    float: left;padding: 10px;height: 400px;width: 80%;clear: both;margin-top: -10px;margin-left: -10px;
}
.column1 {float: left;margin: 0;width: 15%;}
.column2 {float: left;margin-left: 16%;width: 40%;}